tower {
accessToken = 'yourToken'
enabled = true
}

// general parameters
process.executor='slurm'
cleanup = true

params.tmp_path = '/path/tmp'
params.out_path = '/path/results'
params.ref_path = '/path/references/'
params.in_path_fastq = '/path/fastq'
params.in_path_bam = '/path/fq2bam'

params.fasta_ref = params.ref_path+'/Homo_sapiens_assembly38.fasta'

params.knwind = params.ref_path+'/Homo_sapiens_assembly38.known_indels.vcf.'
